<!DOCTYPE html>
<html>
    <head>
        <title>ASCII ART WEB</title>
    </head>
    <body>
        <h1>ASCII ART GENERATOR</h1>
        <form action="/ascii-art" method="post">
            <input type="text" name="text" placeholder="Enter text">
            <br>

            <label for="banner">Choose a banner style:</label>
            <br>

            <select name="banner" id="banner">
                <option value="standard">Standard</option>
                <option value="shadow">Shadow</option>
                <option value="thinkertoy">Thinkertoy</option>
            </select>
            <br>
            <button type="submit">submit</button>
        </form>
    </body>
</html>