<!DOCTYPE html>
<html>
    <head>
        <title>ASCII-ART-WEB</title>
        </head>
        <body>
            <form action="/ascii-art" method="POST">
                <input type="text" name="text">
                <br>
                <input type="radio" name="banner" value="standard"> standard
                <br>
                <input type="radio" name="banner" value="shadow"> shadow
                <br>
                <input type="radio" name="banner" value="thinkertoy">thinkertoy
                <br>
                <button type="submit">Genearate ASCII ART</button>
                </form>
            </body>
            </html>